.slide-1{
        height: 100%;
        background-color: brown;
}

.slide-2{
    height: 100%;
    background-color: chartreuse;
}

.slide-3{
    height: 100%;
    background-color: cyan;
}

ion-slides{
    height: 30%;
}