<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" >

    <ion-slide class="slide-1">
      <h1>Slide</h1>
    </ion-slide>

    <ion-slide class="slide-2">
      <h1>Slide 2</h1>
    </ion-slide>
    
    <ion-slide class="slide-3">
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>

